h1 {
    width: 200px;
    margin: 20px auto;
}

body {
    height: 100%;
}

.all__buttons_style {
    font-family: Arial;
    font-stretch: expanded;
    font-style: normal;
    font-size: medium;
    padding: 15px 35px;
    text-decoration: none;
    color: white;
    background: gray;
}

.content {
    display: flex;
    justify-content: space-between;
}

.ad {
    display: inline-block;
    width: 300px;
    margin-right: 0;
    margin-left: auto;
}

.gallery {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.gallery__images {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: 0;
}

.gallery__images_shadow {
    width: 300px;
    height: 200px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu {
    display: block;
    border: 2px solid black;
    margin: 20px 0px;
}

.menu__buttons {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

.footer__names {
    padding-left: 50px;
}