/* Base */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

form {
    margin: 5px 20px;
    width: 200px;
}

h2 {
    display: block;
    margin-block-start: 13px;
    margin-block-end: 13px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2, h3 {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

table {
    display: grid;
    border: 1px solid black;
    border-collapse: collapse;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
}

thead,
tbody,
tr {
    display: contents;
    place-content: center;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

tr:nth-child(odd) td {
    background: #48F9D1;
}

tr:nth-child(even) td {
    background: #40D3DB;
}

/* Layout */
.l-header {
    background-color: rgba(64, 211, 219, 0.3);
}

.l-footer {
    background-color: rgba(64, 211, 219, 0.8);
}

.l-gallery {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
}

.l-sidebar {
    position: fixed;
    right: 0;
    top: 30%;
    display: inline-block;
    width: 300px;
}

.l-nav {
    background-color: rgba(82, 192, 242, 0.7);
}

.l-content {
    padding: 10px;
}

.l-main {
    flex-grow: 1;
    position: relative;
    padding: 20px 0;
    background-color: rgba(64, 211, 219, 0.3);
}

.l-cat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

/* Header module */
.logo {
}

.text-logo {
    padding: 0 15px 5px 15px;
}

.text-logo-is-hor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.text-logo-is-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-logo-is-hor > span {
    display: inline-block;
    margin: auto 0;
    padding: 5px 2px;
}

.text-logo-is-vert > span {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 2px;
}

/* Nav module */
.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-items > a {
    padding: 10px;
}

/* Content module */
.gallery-item {
    margin: 15px 45px;
}

.gallery-item-is-shadowed {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.footer-info {
    display: flex;
    justify-content: space-around;
}

.footer-info-item {
}

.footer-info-item > h5 {
    display: inline-block;
    margin: 15px 0 2px 0;
}

.footer-info-item > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breed-input, #name-input {
    margin: 10px 0;
    padding:10px;
    border-radius:10px;
    border:0;
    border-bottom:1px solid rgba(64, 211, 219, 0.8);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

form button {
    padding: 10px 2px;
}